<p>
  <img src='{{resource.logo}}'/>
</p>
<h3>{{holder.name}}, thank you for your donation!</h3>
<p>
You donated {{donation.sum}} USD to «{{donation.organization}}». As a reward, we will send you the original artwork «{{donation.title}}» by {{donation.author}}.
</p>
<p>
  In the nearest future our manager will contact you and agree on the delivery details.
</p>
<p>
  If you have any questions, please feel free to contact us at <a href="mailto:hello@joincharible.com">hello@joincharible.com</a>
</p>

