<p>
  <img src='{{resource.logo}}'/>
</p>
<h3>{{holder.name}}, благодарим вас за пожертвование!</h3>
<p>
Вы пожертвовали {{donation.sum}} рублей в пользу «{{donation.organization}}». В качестве благодарности мы отправим вам оригинал картины  «{{donation.title}}», автор – {{donation.author}}.
</p>
<p>
  В ближайшее время наш менеджер свяжется с вами и согласует детали доставки. 
</p>
<p>
  Если у вас есть вопросы, пожалуйста, напишите нам на <a href="mailto:info@tokendobra.ru">info@tokendobra.ru</a>
</p>

