<p>
  <img src='https://test.tokendobra.ru/images/charible_logo.svg'/>
</p>
<h3>{{holder.name}}, ТокенДобра благодарит вас за пожертвование!</h3>
<p>
Вы пожертвовали {{donation.sum}} рублей в пользу {{donation.organization}}. В качестве благодарности мы передаём вам цифровую копию картины {{donation.title}} , автор – {{donation.author}}.
</p>
<p>
В этом письме вы найдёте:
  <ul>
    <li>вечную ссылку на цифровую копию картины</li>
    <li>pre-NFT цифровой копии картины</li>
  </ul>
</p>
<p>
  Все цифровые картины находятся в децентрализованное хранилище (IPFS). Это позволит вам сохранить доступ к вашей копии картины, даже если наш проект перестанет существовать.<a href='{{donation.permanent_link}}'>Ссылка</a> на вашу копию картину.
</p>
<p>
  Pre-NFT – это ваучер, позволяющий в любой момент получить NFT-токен картины, если у вас есть криптокошелёк. Ваучер зарегистрирован на почту {{holder.email}}. Чтобы получить NFT-токен, пришлите номер вашего ваучера на почту <a href='mailto:nft@tokendobra.ru'>nft@tokendobra.ru</a>. Письмо необходимо направить с почты на которую был зарегистрирован ваучер.
</p>
<p>
  <table>
    <thead>
      <th>Картина</th>
      <th>Автор</th>
      <th>Оганизация</th>
      <th>Ваш pre-NFT</th>
    </thead>
    <tbody>
       {% for item in certificates %}
          <tr>
             <td>{{item.viewasset.name}}</td>
             <td>{{item.viewperson.fullname}}</td>
             <td>{{item.viewsubject.name}}</td>
             <td>{{item.certificate}}</td>
          </tr>
       {% endfor %}

    </tbody>

  </table>
</p>
<p>
  Если у вас есть вопросы, пожалуйста, напишите нам на <a href="mailto:info@tokendobra.ru">info@tokendobra.ru</a>
</p>

